//- Scripts
script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
crossorigin="anonymous")
script( src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" 
integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" 
crossorigin="anonymous")


//- script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js",
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=",
    crossorigin="anonymous")
script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
script(src='https://cdn.jsdelivr.net/npm/vue-resource@1.5.0')
script(src='/js/bootstrap.js')

script(src="https://www.google.com/recaptcha/api.js?render=explicit" async defer)
script(src="js/recaptcha.js")

script(type='text/javascript').
  let environment;
  try {
      environment = JSON.parse('!{environment}');
      console.log('loading load', '!{environment}')
      if (!environment) {
      alert('Application environment not loaded!');
  }
  } catch(error) {
      alert(error);
  }

script(src='/js/main.js')
script(src='/js/security.js')
script(src='/pages/js/post-mark.js')
script(src='/pages/js/logout.js')
script(src='/pages/js/#{pageScript}.js')