doctype html
html
  include _head
  body
    include _header
    block content

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js",
			  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=",
			  crossorigin="anonymous")
    script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
    script(src='https://cdn.jsdelivr.net/npm/vue-resource@1.5.0')
    //- script(src='/js/bootstrap.js') We currently do not have a bootstrap file
    script(type='text/javascript').
      let environment;
      try {
        environment = JSON.parse('!{environment}');
        console.log('loading load', '!{environment}')
        if (!environment) {
          alert('Application environment not loaded!');
        }
      } catch(error) {
          alert(error);
      }
    script(src='/js/main.js')
    script(src='/js/localstorage.js')
    script(src='/pages/js/#{pageScript}.js')

